@keyframes stretch-ball-show {
  to {
    transform: scale(1);
  }
}

@keyframes opacity-width-show-btn {
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes opacity-show-btn-text {
  to {
    opacity: 1;
  }
}

@keyframes show-text-from-opacity {
  to {
    opacity: 1;
  }
}
