@mixin bounceIn {
  animation-name: bounceIn;
  transform: scale(0);
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.4, 0.07, 0.29, 1.8);
  animation-fill-mode: forwards;
}

@mixin zoomIn {
  animation-name: bounceIn;
  transform: scale(0);
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@mixin fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.4s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@mixin fadeInRight {
  animation-name: fadeInRight;
  transform: translateX(20%);
  animation-duration: 0.4s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@mixin fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.4s;
  opacity: 1;
  animation-fill-mode: forwards;
}

@mixin untwistFadeIn {
  animation-name: untwistFadeIn;
  animation-duration: 0.4s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@mixin rotateInLeft {
  animation-name: rotateInLeft;
  animation-duration: 0.4s;
  transform: translate3d(-50%, 0, 0) rotate(-90deg);
  animation-fill-mode: forwards;
}

@mixin rotateInRight {
  animation-name: rotateInRight;
  animation-duration: 0.4s;
  transform: translate3d(50%, 0, 0) rotate(90deg);
  animation-fill-mode: forwards;
}
