.btn {
  @include btn-reset;
  background-color: $c-light;
  border: 2px solid $c-light;
  border-radius: 3.5rem;
  padding: 1.7rem 2.9rem 1.3rem;

  &:hover {
    & > span {
      color: $c-purple;
    }
  }

  &:focus {
    width: 103%;
    height: 108.5%;
    border-color: $c-purple;

    & > span {
      color: $c-purple;
      outline: none;
    }
  }

  &:active,
  &:active:focus {
    background-color: $c-purple;
    border-color: $c-purple;

    & > span {
      color: $c-light;
    }
  }

  & > span {
    text-transform: uppercase;
    text-align: center;
    font-family: $font-alt;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
    color: $c-dark;
    letter-spacing: -0.04em;
  }

  @media (min-width: $stop-scaling) {
    padding: 15px 29px;
    font-size: 24px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 1rem;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 1rem;
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
