@keyframes rules-items-bullet {
  to {
    transform: scale(1);
  }
}

@keyframes rules-items-text {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes btn-go {
  to {
    width: 100%;
  }
}
